<nav class="page-nav">

    <a class="page-nav__day page-nav__day_prev" *ngIf="prevButton" (click)="getDays(-6)"></a>

    <a class="page-nav__day page-nav__day_today"
      [ngClass]="{
      'page-nav__day_today': +day === +today,
      'page-nav__day_chosen': +day === +currentDay,
      'page-nav__day_weekend' : (day | date: 'EE')  === 'сб' || (day | date: 'EE')  === 'вс'
      }"
      *ngFor="let day of days"
      (click)="checkCurrentDay(day)">

      <span class="page-nav__day-week">{{ day | date: 'EE' | titlecase }}</span>
      <span class="page-nav__day-number">{{ day | date: 'dd'}}</span>

    </a>

    <a class="page-nav__day page-nav__day_next" (click)="getDays(6)"></a>
  </nav>

  <main>
    <div class="movie-container" *ngFor="let film of films">
      <section class="movie" *ngIf="checkFilmActivity(film)" >
          <div class="movie__info">
            <div class="movie__poster">
              <img class="movie__poster-image" alt="Звёздные войны постер" src="../assets/i/poster1.jpg">
            </div>
            <div class="movie__description">
              <h2 class="movie__title">{{ film.film_name }}</h2>
              <p class="movie__synopsis">{{ film.film_description }}.</p>
              <p class="movie__data">
                <span class="movie__data-duration">{{ film.film_duration }} минут </span>
                <span class="movie__data-origin">{{ film.film_country }}</span>
              </p>
            </div>
          </div>


          <div
            class="movie-seances__wrapper"
            *ngFor="let schedule of film.film_schedule"
          >
            <div
              class="movie-seances__hall"
              *ngIf="checkHallActivity(schedule.hallId)"
            >
            <h3 class="movie-seances__hall-title"> {{ schedule.hallName }}</h3>
              <ul class="movie-seances__list">
                <li class="movie-seances__time-block" *ngFor="let scheduleTime of schedule.time">
                <a class="movie-seances__time" [routerLink]="['/hall', schedule.hallId, film.film_id, getReservedDateAndTime(scheduleTime)]"> {{ scheduleTime }}</a>
                </li>
              </ul>
            </div>
          </div>





      </section>
    </div>
  </main>
