<div class="admin-wrapper">
  <header class="page-header">
    <h1 class="page-header__title">Идём<span>в</span>кино</h1>
  </header>

  <main class="conf-steps">
    <section class="conf-step">
      <header class="conf-step__header conf-step__header_opend" appShowOrHide>
        <h2 class="conf-step__title">Управление залами</h2>
      </header>

      <div class="conf-step__wrapper">
        <p class="conf-step__paragraph">Доступные залы:</p>
        <ul class="conf-step__list" *ngFor="let hall of halls">
          <li> {{ hall.hall_name }}
            <button class="conf-step__button conf-step__button-trash"
            (click)="showDeleteHallPopup(hall)"></button>
          </li>
        </ul>
        <button class="conf-step__button conf-step__button-accent" (click)="showCreateHallPopup()">Создать зал</button>
      </div>
    </section>




    <!-- КОНФИГУРАЦИЯ ЗАЛА!! -->
    <section class="conf-step">
      <header class="conf-step__header conf-step__header_opend" appShowOrHide>
        <h2 class="conf-step__title">Конфигурация залов</h2>
      </header>
      <div class="conf-step__wrapper">
        <form
          [formGroup]="hallConfigurateFormGroup"
          (ngSubmit)="submitHallConfiguration()"
        >
          <p class="conf-step__paragraph">Выберите зал для конфигурации:</p>

          <ul class="conf-step__selectors-box">
            <li *ngFor="let hall of halls">
              <input
                type="radio"
                class="conf-step__radio"
                name="activeHallId"
                (change)='getRowAndPlaceValue()'
                value='{{hall.hall_id}}'
                formControlName="activeHallId"
              >
              <span class="conf-step__selector"> {{ hall.hall_name }} </span>
            </li>
          </ul>

          <p class="conf-step__paragraph">Укажите количество рядов и максимальное количество кресел в ряду:</p>
          <div class="conf-step__legend">
            <label class="conf-step__label">Рядов, шт<input type="number" class="conf-step__input"
              formControlName="currentRow"
              placeholder="10"
              (change)="editHallConf()"
              ></label>
            <span class="multiplier">x</span>
            <label
              class="conf-step__label">Мест, шт<input type="number" class="conf-step__input"
              formControlName="currentPlace"
              placeholder="8"
              (change)="editHallConf()"
              ></label>
          </div>


          <p class="conf-step__paragraph">Теперь вы можете указать типы кресел на схеме зала:</p>
          <div class="conf-step__legend">
            <span class="conf-step__chair conf-step__chair_standart"></span> — обычные кресла
            <span class="conf-step__chair conf-step__chair_vip"></span> — VIP кресла
            <span class="conf-step__chair conf-step__chair_disabled"></span> — заблокированные (нет кресла)
            <p class="conf-step__hint">Чтобы изменить вид кресла, нажмите по нему левой кнопкой мыши</p>
          </div>


          <div class="conf-step__hall">
            <div class="conf-step__hall-wrapper">
              <div class="conf-step__row" *ngFor="let row of getActiveHallForConfiguration()" >
                <span
                  class="conf-step__chair"
                  [ngClass]="{
                    'conf-step__chair_disabled': place.type === 'disabled',
                    'conf-step__chair_standart': place.type === 'simple',
                    'conf-step__chair_vip': place.type === 'vip'
                    }"
                  *ngFor="let place of row"
                  (click)="changePlaceType(place)"
                ></span>
              </div>
            </div>
          </div>

          <fieldset class="conf-step__buttons text-center">

            <button type="button" class="conf-step__button conf-step__button-regular"
              (click)="canselHallChanges()"
              >Отмена</button>

            <button type="submit" class="conf-step__button conf-step__button-accent">Сохранить</button>

          </fieldset>
        </form>
      </div>
    </section>










    <!-- КОНФИГУРАЦИЯ ЦЕН! -->
    <section class="conf-step">
      <header class="conf-step__header conf-step__header_opend" appShowOrHide>
        <h2 class="conf-step__title">Конфигурация цен</h2>
      </header>
      <div class="conf-step__wrapper">

        <form
          [formGroup]="hallPriceConfigurationFormGroup"
          (ngSubmit)="submitPriceConfiguration()"
        >
          <p class="conf-step__paragraph">Выберите зал для конфигурации:</p>

          <ul class="conf-step__selectors-box">
            <li *ngFor="let hall of halls">
              <input
                type="radio"
                class="conf-step__radio"
                name="pricesActiveHallId"
                value="{{ hall.hall_id }}"
                formControlName="pricesActiveHallId"
                (change)="getPricesHallForPriceConfiguration()"

              >
              <span class="conf-step__selector"> {{ hall.hall_name }} </span>
            </li>
          </ul>

          <p class="conf-step__paragraph">Установите цены для типов кресел:</p>
            <div class="conf-step__legend">
              <label class="conf-step__label">Цена, рублей
                <input
                  type="text"
                  class="conf-step__input"
                  placeholder="0"
                  formControlName="currentStandartPrice"
                  (change)="saveHallPrice()"
                >
              </label>
              за <span class="conf-step__chair conf-step__chair_standart"></span> обычные кресла
            </div>
            <div class="conf-step__legend">
              <label class="conf-step__label">Цена, рублей
                <input type="text"
                  class="conf-step__input"
                  placeholder="0"
                  formControlName="currentVipPrice"
                  (change)="saveHallPrice()"
                >
              </label>
              за <span class="conf-step__chair conf-step__chair_vip"></span> VIP кресла
            </div>

          <fieldset class="conf-step__buttons text-center">
            <button type="button" class="conf-step__button conf-step__button-regular"
              (click)="canselHallChanges()">Отмена</button>
            <button type="submit"
              class="conf-step__button conf-step__button-accent">Сохранить</button>
          </fieldset>
        </form>
      </div>
    </section>

    <section class="conf-step">
      <header class="conf-step__header conf-step__header_opend" appShowOrHide>
        <h2 class="conf-step__title">Сетка сеансов</h2>
      </header>
      <!-- <p (mousedown)="registerDragAndDropEvents()">test</p> -->
      <div class="conf-step__wrapper">
        <p class="conf-step__paragraph">
          <button class="conf-step__button conf-step__button-accent" (click)="showCreateFilmPopup()">Добавить фильм</button>
        </p>

        <div class="conf-step__movies">
          <div
            class="conf-step__movie"
            id="{{ film.film_id }}"
            *ngFor="let film of films"
            draggable="true"
            (click)="showShowtimeAddPopup(film.film_id)"
            (mousedown)="registerDragAndDropEvents()"
          >
          <img class="conf-step__movie-poster" alt="poster" src="{{ film.film_img }}">
            <h3 class="conf-step__movie-title">{{ film.film_name }}</h3>
            <p class="conf-step__movie-duration">{{ film.film_duration }} минут</p>
          </div>

        </div>

        <p class="conf-step__paragraph">Перетащите фильм в сетку сеансов</p>

        <div
          class="conf-step__seances"
          *ngFor="let hall of hallTimeLine | keyvalue"
        >

          <div
            class="conf-step__seances-hall">
            <h3 class="conf-step__seances-title"> {{ getHallNameById(hall.key) }}</h3>
            <div class="conf-step__seances-timeline" [attr.data-dragInfo]="hall.key">

              <div
                class="conf-step__seances-movie"
                [ngStyle]="{
                  'width': getWidth(getFilmById(scheduleItem.value).film_duration),
                  'background-color': setSeancesFilmColor(scheduleItem.value),
                  'left': getLeftPosition(scheduleItem.key)
                }"
                *ngFor="let scheduleItem of hall.value | keyvalue"
                (click)="showDeleteSessionPopup(hall.key, scheduleItem)"
              >

                <p class="conf-step__seances-movie-title">{{ getFilmById(scheduleItem.value).film_name }}</p>
                <p class="conf-step__seances-movie-start">{{ scheduleItem.key }}</p>
              </div>

            </div>
          </div>
        </div>

        <!-- <fieldset class="conf-step__buttons text-center">
          <button class="conf-step__button conf-step__button-regular">Отмена</button>
          <input type="submit" value="Сохранить" class="conf-step__button conf-step__button-accent">
        </fieldset> -->
      </div>
    </section>

    <section class="conf-step">
        <header class="conf-step__header conf-step__header_opend" appShowOrHide>
          <h2 class="conf-step__title">Открыть продажи</h2>
        </header>
      <div class="conf-step__wrapper">


        <form
          [formGroup]="hallActivityFormGroup"
          (ngSubmit)="submitNewActivity()"
        >
          <p class="conf-step__paragraph">Выберите зал, чтобы назначить активность:</p>
          <ul class="conf-step__selectors-box">
            <li *ngFor="let hall of halls">
              <input
                type="radio"
                class="conf-step__radio"
                name="hallActivityActiveHall"
                value="{{ hall.hall_id }}"
                formControlName="hallActivityActiveHall"
              >
              <span class="conf-step__selector"> {{ hall.hall_name }} </span>
            </li>

            <div class="conf-step__wrapper text-center">
              <button class="conf-step__button conf-step__button-accent">{{getActiveButtonText()}}</button>
            </div>

          </ul>
        </form>
      </div>











      <!-- <header class="conf-step__header conf-step__header_opend" appShowOrHide>
        <h2 class="conf-step__title">Открыть продажи</h2>
      </header>
      <div class="conf-step__wrapper text-center">
        <p class="conf-step__paragraph">Всё готово, теперь можно:</p>
        <button class="conf-step__button conf-step__button-accent">Открыть продажу билетов</button>
      </div> -->
    </section>
  </main>
</div>
























<!-- Попап "Создать холл" -->
<div
  class="popup"
  [ngClass]="{'active': visibleCreateHallPopup === true}"
>
  <div class="popup__container">
    <div class="popup__content">
      <div class="popup__header">
        <h2 class="popup__title">
          Добавление зала
          <a class="popup__dismiss" (click)="closeCreateHallPopup()"><img src="../../../assets/i/close.png" alt="Закрыть"></a>
        </h2>

      </div>
      <div class="popup__wrapper">
        <form
          [formGroup]="addHallFormGroup"
          (ngSubmit)="createHall()"
        >

          <label class="conf-step__label conf-step__label-fullsize" for="name">
            Название зала
            <input class="conf-step__inputв" type="text" name='name' formControlName="hallName">
          </label>
          <div class="conf-step__buttons text-center">
            <button type="submit" class="conf-step__button conf-step__button-accent" [disabled]="addHallFormGroup.invalid" >Добавить зал</button>
            <button type="button" class="conf-step__button conf-step__button-regular" (click)="closeCreateHallPopup()">Отменить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Попап "Удалить холл" -->

<div
  class="popup"
  [ngClass]="{'active': visibleDeleteHallPopup === true}"
>
  <div class="popup__container">
    <div class="popup__content">
      <div class="popup__header">
        <h2 class="popup__title">
          Удаление зала
          <a class="popup__dismiss" (click)="closeDeleteHallPopup()"><img src="../../../assets/i/close.png" alt="Закрыть"></a>
        </h2>

      </div>
      <div class="popup__wrapper">
        <form
        [formGroup]="deleteHallFormGroup"
        (ngSubmit)="deleteHall()"
        >
          <p class="conf-step__paragraph">Вы действительно хотите удалить зал <span>{{ hallToDelete.hall_name | uppercase }}</span>?</p>
          <!-- В span будет подставляться название зала -->
          <div class="conf-step__buttons text-center">
            <button type="submit" value="Удалить" class="conf-step__button conf-step__button-accent"
            >Удалить</button>
            <button type="button" class="conf-step__button conf-step__button-regular"
            (click)="closeDeleteHallPopup()"
            >Отменить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Попап сеанса -->



<!-- Попап добавления фильма -->

<div
  class="popup active"
  [ngClass]="{'active': visibleCreateFilmPopup === true}"
>
  <div class="popup__container">
    <div class="popup__content">
      <div class="popup__header">
        <h2 class="popup__title">
          Добавление фильма
          <a class="popup__dismiss"><img src="../../../assets/i/close.png" alt="Закрыть" (click)="closeCreateFilmPopup()"></a>
        </h2>

      </div>
      <div class="popup__wrapper">
        <form
          [formGroup]="addFilmFormGroup"
          (ngSubmit)="createFilm()"
        >
          <label class="conf-step__label conf-step__label-fullsize" for="name">
            Название
            <input
              class="conf-step__input"
              type="text"
              placeholder="Например, &laquo;Гражданин Кейн&raquo;"
              formControlName="film_name"
              >
          </label>

          <label class="conf-step__label conf-step__label-fullsize">
            Описание
            <input
              class="conf-step__input"
              type="text"
              placeholder="Например, &laquo;Самый лучший фильм&raquo;"
              formControlName="film_description"
            >
          </label>

          <label class="conf-step__label conf-step__label-fullsize" for="name">
            Длительность (мин)
            <input
              class="conf-step__input"
              type="number"
              placeholder="Например, &laquo;130&raquo;"
              formControlName="film_duration"
            >
          </label>

          <label class="conf-step__label conf-step__label-fullsize" for="name">
            Страна
            <input
              class="conf-step__input"
              type="text"
              placeholder="Например, &laquo;Румыния&raquo;"
              formControlName="film_country"
            >
          </label>

          <label class="conf-step__label conf-step__label-fullsize" for="name">
            Изображение фильма
            <input
              class="conf-step__input"
              type="file"
              id="film-image"
              name="film-image"
              (change)="test($event)"
            >
          </label>

          <div class="conf-step__buttons text-center">
            <button type="submit" class="conf-step__button conf-step__button-accent">Добавить фильм </button>
            <button type="button" class="conf-step__button conf-step__button-regular" (click)="closeCreateFilmPopup()">Отменить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Попап сеанса -->
<div
  class="popup"
  [ngClass]="{'active': visibleShowtimeAddPopup === true}"
>
  <div class="popup__container">
    <div class="popup__content">
      <div class="popup__header">
        <h2 class="popup__title">
          Добавление сеанса
          <a class="popup__dismiss" (click)="closeShowtimeAddPopup()"><img src="../../../assets/i/close.png" alt="Закрыть"></a>
        </h2>

      </div>
      <div class="popup__wrapper">
        <form
          [formGroup]="addShowtimeFormGroup"
          (ngSubmit)="createTimelineElem()"
        >
          <label class="conf-step__label conf-step__label-fullsize" for="hall">
            Название зала
            <select
              class="conf-step__input"
              name="hall"
              required
              formControlName="hallId"
            >
              <!-- <option
                value="null"
              > Выберите зал</option> -->
              <option
                *ngFor="let hall of halls"
                value="{{ hall.hall_id }}"
              > {{ hall.hall_name }}</option>
            </select>
          </label>
          <label class="conf-step__label conf-step__label-fullsize" for="name">
            Время начала
            <input
              class="conf-step__input"
              type="time"
              value="00:00"
              name="start_time"
              formControlName="time"
            >
          </label>
          <div class="conf-step_notice"></div>
          <div class="conf-step__buttons text-center">
            <button type="submit" class="conf-step__button conf-step__button-accent" [disabled]="addShowtimeFormGroup.invalid">Добавить сессию</button>
            <button type="button" class="conf-step__button conf-step__button-regular" (click)="closeShowtimeAddPopup()">Отменить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Попап "Удалить сессию" -->

<div
  class="popup"
  [ngClass]="{'active': visibleDeleteSessionPopup === true}"
>
  <div class="popup__container">
    <div class="popup__content">
      <div class="popup__header">
        <h2 class="popup__title">
          Удаление сессии
          <a class="popup__dismiss" (click)="closeDeleteSessionPopup()"><img src="../../../assets/i/close.png" alt="Закрыть"></a>
        </h2>

      </div>
      <div class="popup__wrapper">
        <form
        [formGroup]="deleteSessionFormGroup"
        (ngSubmit)="deleteSession()"
        >
          <p class="conf-step__paragraph">Вы действительно хотите удалить сессию фильма "{{getFilmById(this.deleteSessionFormGroup.value.filmId).film_name }}"? </p>
          <div class="conf-step__buttons text-center">
            <button type="submit" value="Удалить" class="conf-step__button conf-step__button-accent"
            >Удалить</button>
            <button type="button" class="conf-step__button conf-step__button-regular"
            (click)="closeDeleteSessionPopup()"
            >Отменить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
