<main>
  <section class="buying">
    <div class="buying__info">
      <div class="buying__info-description">
        <h2 class="buying__info-title">{{ film.filmName }}</h2>
        <!--Хрень с тысячами. Исправить!-->
        <p class="buying__info-start">Начало сеанса: {{ currentTime * 1000 | date : 'HH:mm'}}</p>
        <p class="buying__info-hall"> {{ hall.hallName }}</p>
      </div>
      <div class="buying__info-hint" (dblclick)="zoomHall()">
        <p>Тапните дважды,<br>чтобы увеличить</p>
      </div>
    </div>
    <div class="buying-scheme"
      [ngClass]="{'buying-scheme-zoom': zoom}">
      <div class="buying-scheme__wrapper">
          <div class="buying-scheme__row" *ngFor="let row of currentReservedHallPlaces; let rowIndex = index" >
            <span class="buying-scheme__chair"
              *ngFor="let place of row; let placeIndex = index"
              [ngClass]="{
                'buying-scheme__chair_taken': place.status === 'reserved',
                'buying-scheme__chair_standart': place.status === 'free',
                'buying-scheme__chair_disabled': place.type === 'disabled',
                'buying-scheme__chair_selected': place.status === 'checked',
                'buying-scheme__chair_vip': place.type === 'vip'
                }"
              (click)="changePlaceStatus(rowIndex, placeIndex)"
            ></span>
          </div>
      </div>
      <div class="buying-scheme__legend">
        <div class="col">
          <p class="buying-scheme__legend-price"><span class="buying-scheme__chair buying-scheme__chair_standart"></span> Свободно (<span class="buying-scheme__legend-value">{{ hall.hallChairPrice }}</span>руб)</p>
          <p class="buying-scheme__legend-price"><span class="buying-scheme__chair buying-scheme__chair_vip"></span> Свободно VIP (<span class="buying-scheme__legend-value">{{ hall.hallVipChairPrice }}</span>руб)</p>
        </div>
        <div class="col">
          <p class="buying-scheme__legend-price"><span class="buying-scheme__chair buying-scheme__chair_taken"></span> Занято</p>
          <p class="buying-scheme__legend-price"><span class="buying-scheme__chair buying-scheme__chair_selected"></span> Выбрано</p>
        </div>
      </div>
    </div>
    <button class="acceptin-button" (click)="createObjectForPayment()">Забронировать</button>
    <div class="buying-scheme__notice">Выберите места для бронирования</div>

  </section>
</main>
